<section class="content">
  <div class="row">
    <%= render partial: 'super/shared/folders' %>

    <div class="col-md-9">
      <div class="box box-primary">
        <% @drafts.each do |draft| %>
          <%= render partial: 'draft_display', locals: { draft: draft } %>
        <% end %>
      </div>
    </div>
  </div>
</section>